%section.row-fluid.sign-up
  .container-fluid
    .span6
      .site-internal-form
        %h3 Edit Your Profile Information
        = render 'form'
      //= link_to 'Show', user_page_url(current_user)
      %br
      = link_to 'Back', :back
