%section.row-fluid.sign-up
  .container-fluid
    .span6.landing-left
      %h2 Edit Your Profile Information
      .form-inputs
        = render 'form'
      = link_to 'Show', @profile
      %br
      = link_to 'Back', profiles_path
