// General Navigation Styles

.container-fluid
  padding: 0px
  margin: 0px
  max-width: 1050px
  margin: 0 auto

  padding: 2% 2% 2% 2%

.max-container
  max-width: 1140px
  margin: 0 auto




// Landing Page Styles

.hero-landing-page
  background-color : rgba(5, 153, 163, 0.81)
  text-align: center
  padding-bottom: 4%

  p
    padding-bottom: 70px


  .button
    text-align: center
    padding-left: 25px
    padding-right: 25px
    padding-top: 10px
    padding-bottom: 10px
    background-color : rgba(119, 189, 167, 0)
    height: 55px 
    width: 140px

    border : 3px solid #ffffff
    border-radius: 3px
    -moz-border-radius: 3px 
    -webkit-border-radius: 3px
    border: 3px solid #ffffff

.landing-upper-nav
  background-color: rgba(5, 153, 163, 0.81)
  height: 60px
  
  .logo
    text-align: left
  .nav
    text-align: right
  
  img
    padding-top: 30px
    padding-left: 85px
  
  ul
    padding-top: 30px
    padding-right: 75px
    list-style-type: none

    li
      display: inline
      padding-left: 20px

.landing-left
  padding-right: 5%  

.how-it-works
  background-color: #fafafa

  ul
    list-style-type: none
    overflow: auto


  
  .landing-right
    img
      float: left
      padding-right: 20px
    p
      overflow: auto

.help-us-out, .blog-landing-signup
  background-color: #ffffff

  .landing-right
    text-align: center

// Signup Profile More Info Page

.hero-more-page
  background-color: white
  text-align: center

.profile-name-entry
  background-color : rgba(249, 249, 249, 0)
  border : 1px solid #f0f0f0

.main-form
  padding-top: 90px
  padding-bottom: 0px
  text-align: center
  background-color: #f4f4f4

  .bottom-border
    border-bottom: 1px #d3d3d3 solid
    width: 60%
    margin: 0 auto

  .user-info
    border-right: 1px #d3d3d3 solid

.profile-submit
  padding-top: 65px
  padding-bottom: 70px
  text-align: center
  background-color: #f4f4f4

.big-social-links
  text-align: center

// Chat Page
.chat-page-header
  text-align: center

.chat-feedback
  text-align: center
  margin: 0 auto
  #star
    margin: 0 auto
