.nav-header
  color: #ffffff
  text-transform: uppercase
  font-size: 18px

  ul
    li
      font-family: 'Gotham'
      font-weight: bold
      color: #fafafa
      font-size: 14px
      text-transform: uppercase
      display: inline

  h2
    padding-top: 70px
    margin: 0
    font-family: 'Tungsten'
    color: #ffffff
    font-size: 48px
    text-transform: uppercase




.landing-upper-nav
  color: #ffffff
  text-transform: uppercase
  font-size: 18px

  ul
    li
      font-family: 'Gotham'
      font-weight: bold
      color: #fafafa
      font-size: 14px
      text-transform: uppercase
      display: inline

.hero-landing-page
  h2
    padding-top: 100px
    margin: 0
    font-family: 'Tungsten'
    color: #ffffff
    font-size: 48px
    text-transform: uppercase
  p
    padding-top: 35px
    line-height: 2
    font-family: 'Gotham'
    color: #ffffff
    font-size: 17px
  .button
    font-family: 'Avenir'
    color: #ffffff
    font-size: 18px
    text-transform: uppercase

  a:hover
    text-decoration: none

  span.button:hover
    background-color: rgba(102, 102, 102, .3)



.how-it-works 
  h1
    padding-top: 50px
    margin: 0
    font-family: 'Tungsten'
    color: #059aa3
    font-size: 68px
    text-transform: uppercase

  ul
    padding-top: 50px
    margin: 0
    font-family: 'Tungsten'
    color: #77bea7
    font-size: 50px
 
  .landing-left
    p
      padding-top: 35px
      font-family: 'Avenir'
      color: #666666
      font-size: 19px

  .landing-right
    p
      font-family: 'Gotham'
      color: #888888
      font-size: 18px
      padding-bottom: 65px



.help-us-out
  h1
    padding-top: 50px
    margin: 0
    font-family: 'Tungsten'
    color: #059aa3
    font-size: 68px
    text-transform: uppercase
  p
    padding-top: 35px
    font-family: 'Avenir'
    color: #666666
    font-size: 19px
  .eitheror
    display: inline-block
    text-transform: uppercase
    font-style: italic
    width: 15%
    font-family: 'Tungsten'
    font-weight: bold
    color: #77bea7

.nav-footer
  a 
    font-family: 'Gotham'
    text-transform: uppercase
    font-weight: bold
    color: #77bea7
    font-size: 19px
    line-height: 1.5
.by-line
  font-family: 'Gotham'
  color: #ffffff
  font-size: 12px


.hero-more-page
  h2
    padding-top: 70px
    margin: 0
    font-family: 'Tungsten'
    color: #059aa3
    font-size: 48px
    text-transform: uppercase

  p
    padding-top: 35px 
    font-family: 'Avenir'
    color: #32494c
    font-size: 19px
  
  p.small
    padding-top: 0
    font-style: italic
    font-size: 15px

.main-form
  span.label-text
    font-family: 'Avenir'
    color: #666666
    font-size: 17px
    display: inline-block
    padding: 20px
  h2
    margin: 0
    font-family: 'Tungsten'
    color: #77bea7
    font-size: 40px //designed as 50px
    padding-top: 20px
    text-transform: uppercase
  .user-info
    h2
      padding-bottom: 70px
  .expert-info
    p.small
      font-family: 'Avenir'
      color: #32494c
      font-size: 14px
      text-transform: uppercase
      padding-bottom: 50px
