.row-fluid
  .span10.offset1{style:"text-align:center;"}
    %br
    %br
    %h2.large-header{style:"padding-bottom:25px;"} Thanks! We'll be in touch with you soon!
    %p.text If you're excited about what we're doing, please help us out by sharing with your friends! Like us on Facebook and follow us on Twitter!
.row-fluid.big-social-links
  .span6
    %a{href: "https://www.facebook.com/pages/Lorious/357664217669583", target: "_blank"}
      =image_tag "https://s3.amazonaws.com/lorious/layout/elements/social/facebook_green_icon.svg", width: "60%"
  .span6
    %a{href: "https://twitter.com/intent/user?screen_name=LoriousTweets", target:"_blank"}
      =image_tag "https://s3.amazonaws.com/lorious/layout/elements/social/twitter_green_icon.svg", width: "60%"