.row-fluid
  .span10.offset1
    %br
    %br
    %h2.large-header FAQ - Lorious Beta

    %p.text 
      Thank you for signing up for the Lorious beta! We&#39;re really excited that you&#39;re joining our community. We&#39;re still working on making the site perfect for our users but we&#39;re so excited about what we&#39;re doing that we couldn&#39;t wait to start sharing it with you.  

    %p.text 
      We&#39;ve had a lot of questions from you and we wanted to share some answers about how our beta works. 

    %p.text
      Please send any additional questions or comments you have to 
      %a{href:"mailto:questions@lorious.com" } questions@lorious.com.
      As one of our first members, your feedback will be invaluable in helping us grow and shape our community. We can&#39;t wait to hear from you!

    %br

    %h2.large-header About Lorious

    %h3.question-header What is Lorious?

    %p.text
      Lorious is an online marketplace for expertise and knowledge. Our community turns to Lorious in search of experts for advice, to solve a problem or to learn a new skill. We provide a direct and personal connection via live video chat with the experts that you need.

    %p.text
      We at Lorious believe in empowering everyone to take the steps they need to grow and succeed. We want users to have the help they need to acquire new skills and knowledge. We want experts to have a platform to share what they know with the world and make some money doing so. We believe in a more personalized approach to learning, and we believe in your potential. 


    %h3.question-header Why should I use Lorious?

    %p.text 
      We know there are a lot of ways to learn on the internet, but the process often involves hours of digging to find the one piece of information you need. We&#39;ve all been there - sometimes you&#39;re stuck and before you know it you&#39;ve spent 3 hours (or worse, 3 days) on Google and are no closer to a solution.

    %p.text
      At Lorious, we believe that there&#39;s a better way to get answers. A more personal way. We want to put you in touch with someone who can help, someone who has the specific expertise you need, so that you can get the right advice when you need it, wherever you are. Whether you have specific problems or just want to fast-track  your learning, Lorious can help.


    %h3.question-header Is it free to join?

    %p.text
      Lorious does not charge anything to sign up and join our community. The only time you may have to pay is if you have a conversation with an expert who charges a particular rate (some experts may be willing to speak for free). 

    %h3.question-header What&#39;s the best browser to use with Lorious?

    %p.text 
      Lorious uses a new videochat platform that is only compatible with Firefox and Chrome. They are both awesome browsers and you can download them for free at 
      %a{href:"http://www.mozilla.org", target:"_blank" } http://www.mozilla.org
      or
      %a{href:"http://www.google.com/chrome", target:"_blank" } http://www.google.com/chrome

    %br

    %h2.large-header For users 

    %h3.question-header I need help. What do I do?

    %p.text 
      Soon, our website will allow to search for experts yourself, but until then:

      %ul.text
        %li 
          Please email us at
          %a{href:"mailto:questions@lorious.com"} questions@lorious.com
          and tell us what you need help with.
        %li We&#39;ll do our best to find you some experts who can help you and send you an email with the list. We&#39;ll include as much as we can about the experts&#39; qualifications and what they charge, so you can pick the expert that&#39;s best for you.
        %li Let us know who you&#39;d like to speak with and some times you&#39;d be available to talk. We&#39;ll work with both of you to schedule an appointment. 
        %li We&#39;ll send you both a link to the videochat half an hour before your scheduled call.


    %h3.question-header Is it free to get help?

    %p.text
      It depends on which expert you speak to. Lorious lets experts set their own rates, so some experts may be willing to help for free while other experts will want to charge for their time. 

    %p.text
      When we provide you a list of experts for your request, we&#39;ll do our best to include as much information about their qualifications as possible so you can pick the expert that&#39;s best for you. 


    %h3.question-header Do I need an appointment to talk to an expert?

    %p.text
      We hope to have an instant videochat function set up soon, but for now, you do need an appointment to talk to an expert. When you send us a request, let us know what date the conversation needs to happen by, and we&#39;ll do our best to facilitate your request.

    %h3.question-header How do I access my video session?

    %p.text
      We&#39;ll send you a link to your video session half an hour before your appointment starts. All you have to do is click the link at the appointed time.

    %h3.question-header How do I know how much to pay?

    %p.text
      Paid conversations start at a minimum of $5 (Free conversations are always free).

    %p.text
      For paid conversations, you&#39;ll owe whatever the expert&#39;s hourly rate is times the amount of time you spoke to them, provided that you hit the $5 mark. If you only talked for 15 minutes, you only pay for 15 minutes.  

    %p.text
      We don&#39;t have the technology in place yet to record the length of your videochat, so we&#39;ll ask both you and the expert to input the conversation length once your videochat is over. If there are any discrepancies, we&#39;ll follow up with both of you to make sure we charge a fair rate. 

    %h3.question-header What if I&#39;m not happy with my conversation?

    %p.text
      We want to make sure all our users get the help that they came for. First, if you realize that your expert isn&#39;t right for you, you can end the conversation within the first 5 minutes and reschedule with someone else, free of charge. However, if you do finish the conversation and still aren&#39;t satisfied for any reason, please let us know at 
      %a{href:"mailto:questions@lorious.com"} questions@lorious.com
      and we&#39;ll give you your money back. 

    %br

    %h2.large-header For experts

    %h3.question-header Why should I be an expert at Lorious?

    %p.text
      At Lorious, we believe that everyone has something to offer. You&#39;ve gathered years of expertise and experience - whether it&#39;s from a professional context or just from practicing something that you love. We want to make it easy for people to share their passion, skills and expertise with the world and help you make a little money while you do it.

    %p.text
      As an expert, you can use Lorious to:

      %ul.text
        %li Share what you know with the world
        %li Help others work through some of the same problems you may have had
        %li Access a wider audience and grow your credibility on the web
        %li Make some money while you do all that


    %h3.question-header Can anyone become an expert?

    %p.text
      We think everybody has the power to help somebody. That&#39;s why we don&#39;t require any specific qualifications, education, or certifications for someone to sign up as an expert.  However, the more background you provide about your skills and expertise, the better we can match you with people who need your help. 

    %p.text
      That said, we want to make sure our users have the best possible experience and get all the answers that they&#39;re looking for.  If an expert receives more than one negative review or complaint from a user, we&#39;ll have to investigate and take appropriate action, which could result in an account suspension.


    %h3.question-header How do I become an expert?

    %p.text
      Soon, you&#39;ll be able to register and fill out your own profile, but for now, just let us know what you&#39;re great at! Email 
      %a{href:"mailto:questions@lorious.com"} questions@lorious.com
      with some details about what you know and what your skills are, and we&#39;ll add you to our expert database. If you could also send us any links to your blog/Etsy store/Twitter/pictures of things you&#39;ve made, that would be even better! The more you tell us about your skills, the better we can match you with people who need your help.


    %h3.question-header Does Lorious let me set my own rates?

    %p.text
      At Lorious, we value your time - so we want you to set rates that you&#39;re comfortable with. Whether you want to help others for free or charge for your time, we want to give you that freedom. 

    %p.text
      If you&#39;re not sure what you should be charging, email
      %a{href:"mailto:questions@lorious.com"} questions@lorious.com
      and we can give you some guidelines and help you figure it out. 


    %h3.question-header Does Lorious charge you to be an expert?

    %p.text
      There are no upfront costs and no monthly membership fees. Lorious only gets paid when you do. Lorious takes a 20% flat commission once the money is transferred to you. 3-10% of that is to cover our credit card fees (depending on the length of the conversation), the rest goes toward building Lorious so that it&#39;s an even better place for our community.

    %h3.question-header How do I start helping people?

    %p.text
      %ol.text
        %li Tell people that you&#39;re available on Lorious. If you make your own appointment, let us know when your appointment is and who you&#39;re speaking to and we&#39;ll send you both a videochat link. 

        %li Wait for us to contact you. We&#39;ll send you an email when we get a request from someone we think you could help. If you&#39;d like to help them, let us know and tell us some times you would be free to talk. We&#39;ll send the user a list of all the available experts and let them choose who they want to speak to. Once they choose, we&#39;ll help both parties schedule an appointment and send you both a link to the videochat half an hour before your scheduled call.

    %p.text
      The more information you give us about your expertise, the better we&#39;ll be able to send you users who need your help.

    %h3.question-header How do I get paid?

    %p.text
      Once we get receive the money from your conversation, we&#39;ll transfer your fees to your PayPal account.

    %p.text
      We don&#39;t have the technology in place yet to record the length of your videochat, so we&#39;ll ask both you and the user to input the conversation length once your videochat is over. If there are any discrepancies, we&#39;ll follow up with both of you to make sure we charge a fair rate. 

    %h3.question-header If I&#39;m an expert, can I hire other experts that interest me as well?

    %p.text Of course! We want Lorious to be a learning community for everyone, where everyone (including experts) can use it to access the expertise they need. 