.nav-footer
  background-color: #213a3d
  img.logo
    padding-top: 70px
  ul
    font-family: 'Gotham A', 'Gotham B', 'Roboto Condensed'
    //text-transform: uppercase
    font-weight: 700
    color: #ffffff
    font-size: 19px
    line-height: 1.5
    padding-top: 50px
    list-style-type: none
  .social
    padding-top: 30px


  .muted
    font-size: 14px
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    a
      font-size: 14px
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
      text-decoration: none

  a:hover
    color: white
    text-decoration: underline

.nav-footer
  a 
    font-family: 'Gotham A', 'Gotham B', 'Roboto Condensed'
    //text-transform: uppercase
    font-weight: 700
    color: #77bea7
    font-size: 15px
    line-height: 1.5
  a:hover
    text-decoration: none
.by-line
  font-family: 'Gotham A', 'Gotham B', 'Roboto Condensed'
  color: #ffffff
  font-size: 12px