.profile-nav-band
  height: 20px
  font-size: 16px

.profile-hero
  width: 95%
  min-height: 350px
  border-bottom: 1px solid black
  padding: 2.5%
  .picture-rating-consultations
    float: left
    width: 25%
    img
      margin: 10%
      border: 1px solid black
      width: 80%
    p
      margin-left: 10%
  .name-and-headline
    float: left
    width: 50%
    p, h3
      padding-top: 2%
      width: 80%
  .price-and-booking	
    float: left
    width: 25%
    .price-box
      margin: 10%
      width: 80%
      height: 191px
      border: 1px solid black
      text-align: center
      p
        height: 20%
      span
        height: 60%
        font-size: 28px
      button .btn
        height: 20%

.profile-expert-information
  width: 95%
  min-height: 350px
  border-bottom: 1px solid black
  padding: 2.5%

.profile-reviews
  width: 95%
  min-height: 350px
  border-bottom: 1px solid black
  padding: 2.5%
.profile-reviews-list
  list-style-type: none
  float: left
.profile-review
  margin: 20px
  width: 300px
  height: 300px
  border: 1px solid black
  float: left