.benefits-list
  list-style-type: none
  padding-top: 25px
  li
    float: left
    border-right: 1px solid black
    width: 30%
    padding: 1.6%
    margin: 0
    height: 150px
  li:last-child
    border-right: none