// / .profile-nav-band
// /   // border-bottom: 1px solid black
// /   padding: 10px
// /   margin-top: 0
// /   background-color: #1c3235
// /   ul
// /     list-style-type: none
// /     padding-top: 0px
// /     margin-top: 0

// / .profile-nav-band-link
// /   float: left
// /   padding-right: 15px
// /   padding-left: 5px


.navbar .navbar-inner
  background-color: #32494c !important /* fallback color, place your own */
  background-image: none
  border-radius: 0px
  -webkit-border-radius: 0px
  -moz-border-radius: 0px

  .btn-navbar
    background-color: #32494c !important /* fallback color, place your own */
    background-image: none
  
.navbar .nav > li > a
  float: none
  padding: 20px 15px 20px
  font-family: 'Gotham A', 'Gotham B', 'Roboto Condensed'
  color: #ffffff
  font-size: 14px
  font-weight: 700
  text-shadow: none
  //text-transform: uppercase

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
  color: #ffffff
