- content_for :main_content do
  .row-fluid
    .max-container
      .span6
        %h2 Request Time with #{@host.first_name}

        = render 'form'

        = link_to 'Back', appointments_path
      .span4
        %h2 Test
