%section.row-fluid.nav-header
  .span6.logo
    %a{href: "/"}
      =image_tag "https://s3.amazonaws.com/lorious/layout/lorious_2color.svg", width: "110px"
  .span6.nav
    %ul
      %li= link_to "FAQ", faq_path
      %li= mail_to "questions@lorious.com", "Contact Us"