%section.row-fluid.nav-header
  .span6.logo
    =image_tag "https://s3.amazonaws.com/lorious/layout/logo-transparent-green-dot.png", width: "110px"
  .span6.nav
    %ul
      %li Contact Us
      %li FAQ