- content_for :content do
  .row-fluid
    .container-fluid#profile
      .span10.offset1
        .section.main-content
          = content_for?(:main_content) ? yield(:main_content) : yield
        %br
        %br
        %small 
          To ensure your data is safe, we use 
          = link_to "stripe", "http://stripe.com"
          to process the payments and store your information.
          /Your data is sent encrypted using HTTPS.
          %br/
          %small Lorious does not directly process or store your credit card information at any time.
        %br/
        =link_to "Return to Manage Payment Accounts", manage_payments_path

 
= render template: "layouts/application"