- content_for :content do
  .row-fluid
    .container-fluid#profile
      .span10.offset1
        .section.main-content
          = content_for?(:main_content) ? yield(:main_content) : yield
        %br
        %br

 
= render template: "layouts/application"